<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django_stripe|{{ title }}</title>
</head>
<body>
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>
<p>Price: ${{ item.get_display_price }}</p>
<button onclick="buyItem({{ item.id }})">Buy</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
    function buyItem(itemId) {
        fetch(`{% url 'buy_item' item.id %}`)
            .then(response => response.json())
            .then(data => {
                const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
                stripe.redirectToCheckout({
                    sessionId: data.session_id
                });
            });
    }
</script>

</body>
</html>